<link rel ="stylesheet" href="/css/style.css">
<div>{{>header}}</div>

<h1>Welcome</h1>
<a href="/weather">Weather</a>
<a href="/about">About</a>

<form>
    <input placeholder="address">
    <button>Search</button>
</form>
<p>details</p>
<p id ="meassageone"></p>
<p id ="meassagetwo"></p>

<script src="/js/app.js"></script>
<div>{{>footer}}</div>