header{
    text-align: center;
    font-size: 44px;
    color: #000000 ;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: 	#D3D3D3;
}